@tailwind base;
@tailwind components;
@tailwind utilities;

.kaisei{
  font-family: 'Kaisei Opti', serif;
}
.navbar-nav .nav-link:hover {
  background-color: transparent;
}
.active {
  background-color: black;
  color:#F9F6EE;
}

a .hover{
  color: none;
}

html {
  background-color: #F9F6EE;
}

.manufacturer{
  height: 32rem;
  box-shadow: 9px 9px 1px red;
}

#manufacturer-form{
  height: 20rem;
}
#manufacturer-input{
  max-width: 19rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen {
  .responsive{
    width: 100%;
    height: auto;
  }
  .column {
    columns: 1;
  }
}
